<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        问题： 计算属性是否可更改 ？ <hr>
        答案： 可以 -- 使用setter来修改  <br>
        <div class="row">
            <label for=""> 姓 </label>
            <input type="text" v-model="firstName">
        </div>
        <div class="row">
            <label for=""> 名 </label>
            <input type="text" v-model="lastName">
        </div>
        <div class="row">
            <label for=""> 全名 </label>
            <input type="text" v-model="fullName">
        </div>
    </div>
</body>
<script src="../../lib/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            firstName: '',
            lastName: ''
        },
        computed: {
            fullName: {
                get () {
                    //get函数赋值的
                    return this.firstName + this.lastName
                },
                set ( val ) {
                    // set是用于修改的
                    // 触发 fullName改变，自动触发
                    // val就是改变的新值
                    // console.log('set触发',val)
                    // 默认姓氏为单姓 
                    this.firstName = val.slice(0,1)
                    this.lastName = val.slice(1)
                }
            }
        }
    })
</script>
</html>